html, body {
  margin: 20px;
  width: 100%;
  height: 100%;
}



.near-by-riders {
    height: 40em;
}

.rider-gravatar {
    width: 5em;
    height: 5em;
}

.near-by-rider-overlay {
    z-index: 1000;
    background-color: white;
}

#riders-list {
    list-style: none;
}

.rider-gravatar-message {
    width: 1em;
    height: 1em;
}