<h2><img class="img-circle rider-gravatar-message" {{bind-attr src=image}}/> {{firstName}} {{lastName}}</h2>
<div class="btn-group-vertical">
    <button class="btn btn-default">Let's ride together!</button>
    <button class="btn btn-default">Wait for me!</button>
    <button class="btn btn-default">Sorry can't make it!</button>
    <button class="btn btn-default">Send Custom Message</button>
</div>


