<div class="well well-lg">
    <h2 class="existing-user-only">Login</h2>
    <form>
        <div class="form-group new-user-only">
            Going our way? Sign up and find other commuters to meet up with.
        </div>   
        <div class="form-group">
            First Name:<input type="text" name="first-name">
        </div>
        <div class="form-group">
            Last Name:<input type="text" name="last-name">
        </div>
        <div class="form-group new-user-only">
            Email:<input type="text" name="email">
        </div>
        <div class="form-group">
            Password:<input type="password" name="password">
        </div>
        <div class="form-group">
            <input class="btn btn-primary new-user-only" type="submit" value="Sign Up">
        </div>
        <a>Existing User? {{#link-to '/login'}}Log In{{/link-to}}</a>
    </form>
</div>

